<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>MoodPage</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <header>
    <nav>
      <a href="{{ url_for('home') }}">홈</a> |
      <a href="{{ url_for('write') }}">일기 작성</a> |
      <a href="{{ url_for('archive') }}">아카이브</a>
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>